.sidebar ul {
  list-style-type: none;
  margin: 0;
}

.sidebar #latest-sponsors li {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar #latest-sponsors li a {
  width: 100%;
}

.sidebar #latest-sponsors li span {
  width: 100%;
  display: block;
  text-align: left;
}

.sidebar #latest-sponsors img {
  max-height: 50px;
  max-width:90%;
}

.sidebar .group-details {
  color: #333333;
  font-family: "Lora",Georgia,"Times New Roman",Times,serif;
  font-size: 17px;
  line-height: 26px;
  margin: 0;
  display:block;
  margin: 5px;
  width: 100%;
}

.sidebar .group-details a:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}

.sidebar .group-details pre, .sidebar .group-details xmp, .sidebar .group-details plaintext, .sidebar .group-details listing {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
  padding: 0px;
  width: 100%;
}


  .sidebar .group-details ul {
      padding: 0 !important;
      margin: none;
  }

  .sidebar .group-details #group_details {
    font-size: 70%;
  }

  .sidebar .group-details div#scraperwikipane {
      left:10px;
  }

  .sidebar .group-details .first_sidebar_heading {
      padding-top: 35px;
  }

  .sidebar .group-details .subsequent_sidebar_heading {
      padding-bottom: 10px;
  }
}