<h2> Next Meetup </h2>
<p>To be announced</p>

<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=220&amp;wkst=2&amp;bgcolor=%23cc0000&amp;src=v4aharsds9vuc6m7d564vg59ro%40group.calendar.google.com&amp;color=%23A32929&amp;ctz=Europe%2FDublin" style=" border-width:0" width="350" height="220" frameborder="0" scrolling="no"></iframe>

<h2 class="meetup-title">Irish Ruby Devs </h2>
<p>Checkout the awesome Irish Ruby developers listed on the <a href="http://www.workingwithrails.com/browse/people/country/Ireland">Irish section</a> of Working With Rails!</p>
<p>Add to our <a href="http://bit.ly/ridraft">Ruby Ireland news and tips</a> draft. We regularly compile this into an article so add your titbits here!</p>
<p>Add to our <a href="http://bit.ly/ritodo">Ruby Ireland TODO</a> list. We keep an eye on this and try to action issues at the monthly meetup!</p>

<h2 class="meetup-title">Follow Ruby Ireland</h2>
Ruby Ireland started as a google group and you can follow the conversations on <a href ="http://groups.google.com/group/ruby_ireland"> here.</a>

<p>We are also on twitter follow us <a href="http://twitter.com/rubyireland"> there</a> and conversations using the <a href="http://search.twitter.com/search?q=rubyireland"> #rubyireland </a> hashtag.</p>


<h2 class="meetup-title">Where do we meet?</h2>
<p><a href="http://www.engineyard.com">Engine Yard</a>'s awesomely kitted out HQ on the 2nd Floor at 35 Barrow St, Dublin.</p>

<h2 class="meetup-title">Other Meetups</h2>
<p>
The Belfast Ruby group have regular meetups. More details at the beautiful <a href="http://belfastruby.com/">Belfast Ruby</a> website.
</p>

<h2 class="meetup-title">Latest Ruby Jobs</h2>
<script id="feed-1346515383225623" type="text/javascript" src="http://rss.bloople.net/?url=http%3A%2F%2Frubyjobs.ie%2Fjobs.rss&detail=-1&limit=5&showtitle=false&type=js&id=1346515383225623"></script>

