<h4> Next Meetup </h4>
<iframe width="225" height="370" src="http://meetu.ps/JtK7s" frameborder="0"></iframe>

<h4 class="meetup-title">Irish Ruby Devs </h4>
<p>Checkout the awesome Irish Ruby developers listed on the <a href="http://www.workingwithrails.com/browse/people/country/Ireland">Irish section</a> of Working With Rails!</p>
<p>Add to our <a href="http://bit.ly/ridraft">Ruby Ireland news and tips</a> draft. We regularly compile this into an article so add your titbits here!</p>
<p>Add to our <a href="http://bit.ly/ritodo">Ruby Ireland TODO</a> list. We keep an eye on this and try to action issues at the monthly meetup!</p>

<h4 class="meetup-title">Follow Ruby Ireland</h4>
<p>Ruby Ireland started as a google group and you can follow the conversations on <a href ="http://groups.google.com/group/ruby_ireland"> here.</a></p>

<p>We are also on twitter follow us <a href="http://twitter.com/rubyireland"> there</a> and conversations using the <a href="http://search.twitter.com/search?q=rubyireland"> #rubyireland </a> hashtag.</p>

<h4 class="meetup-title">Where do we meet?</h4>
<p><a href="http://www.engineyard.com">Engine Yard</a>'s awesomely kitted out HQ on the 2nd Floor at 35 Barrow St, Dublin.</p>

<h4 class="meetup-title">Other Meetups</h4>
<p>
The Belfast Ruby group have regular meetups. More details at the beautiful <a href="http://belfastruby.com/">Belfast Ruby</a> website.
</p>

<div>
<iframe width="100%" height="1500px" src="https://views.scraperwiki.com/run/ruby_ireland_sidebar_view/" frameBorder="0"></iframe>
</div>

