<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#" itemscope itemtype="http://schema.org/Article">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}"/>

    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:type" content="{{ page.type }}"/>
    <meta property="og:url" content="{{ site.root_url | append:page.url }}"/>
    <meta property="og:image" content="{{ site.root_url | append:page.image_url }}"/>
    <meta property="og:site_name" content="Ruby Ireland"/>
    <meta property="og:description" content="{{ page.description }}"/>

    <meta itemprop="name" content="{{ page.title }}"/>
    <meta itemprop="description" content="{{ page.description }}"/>
    <meta itemprop="image" content="{{ site.root_url | append:page.image_url }}"/>

    <link href="//fonts.googleapis.com/css?family=Righteous&amp;subset=latin" rel="stylesheet" type="text/css" style="font-family: 'Righteous';" />
    <link href="//fonts.googleapis.com/css?family=Noto%20Sans&amp;subset=latin" rel="stylesheet" type="text/css" style="font-family: 'Noto Sans';" />
    <link href="//fonts.googleapis.com/css?family=Cabin%20Sketch&amp;subset=latin" rel="stylesheet" type="text/css" style="font-family: 'Cabin Sketch';" />
    <link href="//fonts.googleapis.com/css?family=Advent%20Pro&amp;subset=latin" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/sidebar/latest-jobs.js"></script>
    <script type="text/javascript" src="js/sidebar/latest-sponsors.js"></script>
  </head>
  <body>
    <div class="container container-styled">
        <div class="row-with-zero-left-margin">
          <div class="span12">
            <h1>
              <a href="{{ site.root_url }}">
              <img src="/images/ruby_ireland_100x100.png" alt="logo" />
  Ruby Ireland</a> <span class="subheader-styled">where Rubyists &amp; Guinness drinkers meet</span></h1>
          </div>
        </div>
  
        <div class="row-with-zero-left-margin">
          <div class="span8 padding10right">
            {{ content }}
          </div>
          <div class="offset1 span3">
            {% include sidebar.html %}
          </div>
        </div>
  
        <div class="row-with-zero-left-margin">
          <div class="span12">
            <footer>
              <p>&copy; Ruby Ireland 2010-2014</p>
            </footer>
          </div>
        </div>
    </div>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s); js.id=id;js.async=true;js.src="https://secure.meetup.com/s/script/577045002335750872971/api/mu.btns.js?id=ab7g76fgmqt52oojoejge7gf8q";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","mu-bootjs");</script>

  </body>
</html>
